@charset 'utf-8';

.vision {
  box-shadow: 0px 0px 30px var(--main-color15);
  padding: 5.8rem 0 14.2rem 0;
}

.vison-title {
  margin-top: 9rem;
  text-align: center;
  position: relative;
}

.vison-title::before,
.vison-title::after {
  content: "";
  width: 24.6rem;
  height: 17.8rem;
  position: absolute;
  background: url(../img/decoration-pic1.svg);
  top: 50%;
  transform: translateY(-50%);
}

.vison-title::before {
  left: 0;
}

.vison-title::after {
  right: 0;
  transform: translateY(-50%) scaleX(-1);
}

.vison-title h4 {
  font-size: clamp(4.5rem, 6vw, 8.2rem);
  font-weight: 600;
  color: var(--main-color);
  word-break: keep-all;
}

.vison-title p {
  margin: 3rem auto 0 auto;
  width: 50%;
  word-break: keep-all;
}

.ideology .sec-title {
  /* margin-top: 17.8rem; */
  margin-top: 9.2708vw;
}

.slider {
  margin-top: 7rem;
  position: relative;
  width: 100%;
  height: 73.3rem;
  overflow: hidden;
  /* padding: 0 21rem; */
  padding: 0 10.9375vw;
}

.foreground {
  /* width: 73rem; */
  width: 38.0208vw;
  min-width: 55rem;
  /* height: 74.7rem; */
  height: 38.9063vw;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48.3rem;
  z-index: 1;
  border-radius: 50%;
  background: var(--white100);
}

.wrap {
  top: 45%;
  width: 149.7rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  background: url(../img/brand-pic.jpg) no-repeat 50% / cover;
  width: 100%;
  border-radius: 50%;
}

.ideology-slider {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: var(--white100);
}

.ideology-txt dt {
  font-size: clamp(2.4rem, 3.5vw, 4rem);
  font-weight: 700;
  color: var(--main-color);
}

.ideology-txt dd {
  margin-top: 0.6rem;
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  font-weight: 500;
  word-break: keep-all;
}

.ideology-txt dd + dd {
  margin-top: 3.5rem;
}

.story .inner {
  overflow: hidden;
}

.story {
  background: url(../img/brand-story-pic.jpg) no-repeat 50% / cover;
  padding: 21.2rem 0 20rem 0;
  position: relative;
  z-index: 1;
}

.story::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(14, 33, 47, 100),
    rgba(14, 33, 47, 0)
  );
}

.story .sec-title {
  color: var(--white100);
  position: relative;
  z-index: 1;
}

.story .sec-title h3 {
  width: 50%;
  word-break: keep-all;
}

.story p {
  width: 50%;
  font-size: clamp(1.8rem, 2vw, 2rem);
  color: var(--white70);
  word-break: keep-all;
  margin-top: 2.8rem;
  position: relative;
  z-index: 1;
}

.story div + p {
  margin-top: 8rem;
  font-size: clamp(2rem, 2.2vw, 2.2rem);
  font-weight: 600;
  color: var(--white100);
}

.story p:last-child {
  font-size: clamp(2rem, 2.2vw, 2.2rem);
  font-weight: 600;
  color: var(--white100);
}

.story::after {
  background: linear-gradient(
    to right,
    rgba(14, 33, 47, 0.9),
    rgba(14, 33, 47, 0.7)
  );
}

.thanks {
  background: url(../img/brand-thank.jpg);
  height: 38rem;
}

.thanks h4 {
  color: var(--main-color);
  font-family: "Dancing Script", sans-serif;
  font-size: clamp(6rem, 7vw, 8rem);
  line-height: 1.5;
  font-weight: 700;
  padding: 13rem 0;
  text-align: center;
}

@media (max-width: 1500px) {
  .vison-title::before,
  .vison-title::after {
    width: 18rem;
    height: 13rem;
    background-size: contain;
  }

  .ideology-slider {
    top: 35%;
  }

  .foreground {
    width: 55rem;
    height: 56rem;
  }

  .slider {
    padding: 0 1rem;
  }
}

@media (max-width: 1000px) {
  .vison-title::before,
  .vison-title::after {
    display: none;
  }

  .slider {
    height: 65vh;
    padding: 0;
  }
}

@media (max-width: 800px) {
  .vison-title p {
    width: 80%;
  }

  .slider {
    height: 55vh;
  }

  .foreground {
    width: 50%;
    min-width: 42rem;
    height: 46rem;
    top: 35%;
  }

  .story .sec-title h3 {
    width: 100%;
  }

  .story p {
    width: 90%;
  }
}
